/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: #FFF;}
a {color:white; text-decoration: none;}

/* Colors */
.color-red    {background:#dd0000; color: #ffffff;}
.color-white, .movie-entry  {background:#ffffff; border: #888888;}


#head {
    padding-top: 30px;
    padding-bottom: 30px;
}

#head h1 {
    color: #000;
    padding: 10px;
    display: inline;
}

#head h2 {
    color: #000;
    padding: 10px;
}    

#direct {
    margin: 10px;
    margin-top: 35px;
    float: left;
}

#back {
    color: #000000;
    z-index: 2;
    margin-left: -14px;
    margin-top: -10px;
}

.information {
    float: left;
    clear: left;
    margin-left: 130px;
    height: 35px;
}

#binprogress{
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectMovie {
    text-decoration: none;
}

.selectMovie .widget {
    background: #dfffdf;
    color: #000000;
}

a.selectMovie:hover .widget {
    background: #dd0000;
}

.selectMovie .rated {
    border: solid 1px #dd0000;
}

#binary-rate {
 float: left;
}
	
.movie-entry {
	width: 75px;
	height: 95px;
    margin: 10px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    cursor: hand;
    box-shadow: 3px 3px 5px #888888;
}

.movie-entry:hover {
    background: #CCFFCC;
}

.movie-name {
	height:10px;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    font-size: 0.8em;
}

.movie-name h3 {
    padding: 0 5px;
    float: left;
}
.thumbnail {
    color: #DDD;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    overflow: hidden;
    width: 70px;
    
}
.thumbnail img {
    float: right;
    border: 1px solid #000;
}

