<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Express</servlet-name>
		<servlet-class>comparator.ExpressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Express</servlet-name>
		<url-pattern>/Express</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Enter</servlet-name>
		<servlet-class>comparator.EnterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enter</servlet-name>
		<url-pattern>/Enter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>comparator.CreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/Create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Analyze</servlet-name>
		<servlet-class>comparator.AnalyzeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Analyze</servlet-name>
		<url-pattern>/Analyze</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CreateMovie</servlet-name>
		<servlet-class>comparator.CreateMovieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateMovie</servlet-name>
		<url-pattern>/CreateMovie</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	

</web-app>
